animl-lite==3.3.0
chromadb==1.5.9
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
opencv-python==4.13.0.92
coloredlogs==15.0.1
PyExifTool==0.5.6
durationpy==0.10
grpcio==1.81.1
httptools==0.8.0
httpx==0.28.1
humanfriendly==10.0
importlib_resources==7.1.0
kubernetes==36.0.2
mmh3==5.2.1
oauthlib==3.3.1
overrides==7.7.0
pybase64==1.4.3
PyPika==0.51.1
pyreadline3==3.5.6
requests-oauthlib==2.0.0
watchfiles==1.2.0
yarl==1.24.2
