[flake8]
ignore = E501
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    env,
    .env,
    .venv, 
    .\matchypatchy\database\mpdb.py
max-complexity = 10