[Desktop Entry]
Type=Application
Name=MatchyPatchy
Comment=Individual re-identification matching tool
Exec=/usr/bin/matchypatchy
Icon=matchypatchy
Terminal=false
Categories=Science;Utility;
StartupNotify=true